@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bungee+Tint&display=swap');


*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

html,body{
height:100%;
width:100%;
}


#Main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#robotimg{
    height: 60vh;
}
#intro{
    color: azure;
    font-size: 2vw;
    font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#Chitti{
    color: rgb(194, 36, 128);
    
}
#virtual{
    color: #03CCBD;
}
#btn{
    height: 8vh;
    width: 25vw;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    cursor: pointer;
    border-radius: 15px;
    color: whitesmoke;
    background: linear-gradient(to right, #f30ec9,#02C9B9);

}
#btn:hover{
    letter-spacing: 0.2vw;
    transition: ease-out all  0.3s ;
}

#content{
    padding-left: 1vw;
    
}
#voice{
    height: 10vw;
    display: none;
}